{% extends "layout.html" %}
{% block headTitle %}Caesar Unscramble!{% endblock %}

{%block headerTitle %}Caesar Unscramble!{% endblock %}

{% block content %}
    <div class="wordsearch" >
        {% for string, key in word_caesar: %}
        <p class="row_{{key}}">
            {{string}}
        </p>

        {%endfor%}

    </div>
    <br>
    <br>
    <hr>
    <div class="instructions">
        <h2>Take care in what you are scraping...</h2>
        <p class="MESSING WITH YOU">hello. don't scrape me :)</p>
        <p class="row_hibro">don't scrape me either please</p>

    </div>
{% endblock %}